#[build]
#command = "./gradlew jsBrowserDistribution"
#publish = "composeApp/build/dist/js/productionExecutable"
#
#[build.environment]
#JAVA_VERSION = "17"
[build]
command = """
    export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
    export PATH=$JAVA_HOME/bin:$PATH
    chmod +x gradlew
    ./gradlew jsBrowserDistribution
  """
publish = "composeApp/build/dist/js/productionExecutable"

[build.environment]
JAVA_VERSION = "17"